body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color:  #000000;
    font-family: 'Courier New', Courier, monospace;
}

h1, p{
    color: aliceblue;
}

.container{
    background-color: rgb(35, 139, 214);
    padding: 28px;
    border-radius: 7px;
    box-shadow: 0 1px 12px 5px rgba(255, 255, 255, 0.8);
    width: 90%;
    margin: 10px;
    max-width: 450px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.heading{
    font-size: 28px;

}

.input{
    height: 53px;
    width: 300px; 
    background-color: rgba(244, 244, 244, .6);
    border-color:rgba(244, 244, 244, .4) ;
    font-size: 16px;
    padding: 0 42px;
    border-radius: 5px;
}

.meaning-container{
    display: none;
}
    
